{% extends "layout.html" %}

{% block title %}profile{% endblock %}

{% block content %}
<div class="card mx-auto bg-opacity-10 bg-info p-3">
    <div class="d-flex align-items-center gap-5 justify-content-between">
        <div class="d-flex align-items-center gap-5">
          <!-- Profile Image -->
           {% if user.profile.profile_pic %}
           <img src="{{user.profile.profile_pic.url}}" class="rounded-circle me-3" alt="Profile Image" style="width: 100px; height: 100px; object-fit: cover;">
           {% endif %}
      
          <!-- User Info -->
          <div>
            <h5 class="mb-1">{{user.username}}</h5>
            <p class="mb-1 text-muted">{{user.email}}</p>
            <p class="mb-0">{{user.profile.bio}}</p>
          </div>
        </div>
        <a href="{% url "profile_edit" %}" class = "btn rounded text-white" style="background-color: rgba(13, 202, 240, 0.3); border: 1px solid rgba(13, 202, 240, 0.3);" >Edit Profile</a>
    </div>
</div>

<h1 class = "text-center my-3">My Tweets</h1>

{% for tweet in tweets %}
<div class="card mb-3 bg-info bg-opacity-10 p-3 pb-0 position-relative">
    {% if tweet.user == user %}
      <div class="btn-group position-absolute top-0 end-0 m-2" role="group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(13, 202, 240, 0.3);">
          Dropdown
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url "tweet_edit" tweet.id %}">Edit</a></li>
          <li><a class="dropdown-item" href="{% url "tweet_delete" tweet.id %}">Delete</a></li>
        </ul>
      </div>
    {% endif %}
      {% if tweet.photo %}
      <img src="{{tweet.photo.url}}" class="card-img-top w-50 mx-auto d-block" alt="...">
      {% endif %}
    <div class="card-body">
        <p class="card-text fs-4">{{tweet.text}}</p>
        <p class="card-text"><small class="text-body-secondary">Tweet by: {{tweet.user.username}}</small></p>
        <p class="card-text"><small class="text-body-secondary">Last updated:{{tweet.updated_at}}</small></p>
    </div>
    <a href="{% url "tweet_detail" tweet.id %}" class="text-center text-decoration-none fs-5 py-2 text-white">Read all comments</a>
</div>
{% endfor %}
{% endblock%}
